@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  background: linear-gradient(135deg, var(--background-light), #E0E0E0);
  font-family: 'Poppins', sans-serif;
}


h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

.project-card {
  background-color: var(--text-light);
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.project-title {
  font-size: 1.5rem;
  margin: 16px 0 8px;
  color: var(--primary-color);
}

.project-description {
  font-size: 1rem;
  color: var(--text-dark);
  margin-bottom: 16px;
}

.project-link {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--primary-color);
  color: var(--text-light);
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.project-link:hover {
  background-color: var(--secondary-color);
}

.sidebar {
  background: rgba(46, 46, 46, 0.8); /* Fundo semi-transparente */
  backdrop-filter: blur(10px); /* Efeito de desfoque */
}

.project-card {
  background: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
  backdrop-filter: blur(10px); /* Efeito de desfoque */
}